
<web-app>
	<servlet>
  		<servlet-name>LegoServlet</servlet-name>
  		<servlet-class>lego.odata.web.LegoServlet</servlet-class>
 		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
  		<servlet-name>LegoServlet</servlet-name>
  		<url-pattern>/LegoService.svc/*</url-pattern>
	</servlet-mapping>
	
	<filter>
        <filter-name>setheader</filter-name>
        <filter-class>lego.odata.web.AcceptHeaderFilter</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>setheader</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <display-name>Archetype Created Web Application</display-name>
</web-app>
